@page
@model tp2.Views.Home.favorites

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Variable remplacé lors du chargement de la page depuis le backend. Contient le head -->
$(HEAD)
<body onload="init()">
<div class="container">
    <!-- Variable remplacé lors du chargement de la page depuis le backend. Contient le header -->
    $(HEADER)
    <main>
        <div class="row">
            <div class="col-12">
                <h1 class="titre">Éditeurs de code - Favoris</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="IDE">
                
            </div>
        </div>
    </main>
    <!-- Variable remplacé lors du chargement de la page depuis le backend. Contient le footer -->
    $(FOOTER)
</div>
<!-- Scripts Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>