@model string

<!DOCTYPE html>


<html lang="en-US">
<head>
    <title>404 Not found</title>
</head>
<body>
<main class="container-fluid">
    <div style="text-align: center;" >
        <div class="row">
            <div class="col">
                <h1>404 Not found</h1><br/>
                <p>@Model</p><br/>
                <img
                    src="https://http.cat/404.png"
                    alt="chat"/>
            </div>
        </div>
    </div>
</main>
</body>
</html>