@model List<CodeEditor>
<main>
        <div class="row">
            <div class="col-6">
                <div class="d-flex">
                    <div class="row">
                        <div class="col">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="Category">Category</label>
                            <select name="Category" id="category">
                                <option value="All">All</option>
                                <option value="Text Editor">Text Editor</option>
                                <option value="Integrated Development Environment">IDE</option>
                                <option value="Terminal Text Editor">Terminal Text Editor</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-4">
                            <label for="Favorite">Favorite</label>
                            <input type="checkbox" name="Favorite" id="favorite">
                        </div>
                    </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-outline-success" onclick="displaySearchResults()">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-12">
                <h1 class="titre">Résultats</h1>
            </div>
            <div class="col-12" id="searchResults">
                @{
                    foreach (var editor in Model)
                    {
                        <div class="card carte">
                            <div class="card-body">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-2">
                                            <img 
                                                src="@editor.Name" 
                                                class="img-fluid"
                                                alt="image de l'éditeur"/>
                                        </div>
                                        
                                        <div class="col-10">
                                            <h2>@editor.Name</h2>
                                            <h4>Category: @editor.Category</h4>
                                            <p>@editor.Description</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <img 
                                            src="/images/@(editor.Favorite ? "star-clear.png" : "star-filled.png")" 
                                            class="img-fluid fav"
                                            alt="étoile favorie"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    }
                }
            </div>
        </div>
    </main>