@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Light.ttf");
}

@font-face {
    font-family: "Blood";
    src: url("../fonts/BLOODY.ttf");
}

@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

.🤓 {
    border: 1px solid #000;
    margin: 10px;
    border-radius: 15px;
    background-color: #B1BDC5;
    box-shadow: 0 0 1px rgb(125, 77, 199);
    transition: box-shadow 0.5s ease-in-out;
}

.🤓 a {
    color: #622cc7;
    text-decoration: none;
    display: inline-block;
    transition: text-decoration 1s ease-in-out;
}

.🤓 a:hover {
    text-decoration: underline;
    transition: text-decoration 1s ease-in-out;
}

.🤓 img {
    display: inline-flex;
    margin: 10px;
}

.🤓 p {
    margin: 10px;
    font-family: "Inter", sans-serif;
}

.🤓:hover {
    z-index: 1;
    box-shadow: 0 0 20px rgb(125, 77, 199);
    transition: box-shadow 0.5s ease-in-out;
    
}

.titre {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    font-family: "Righteous", sans-serif;
}
footer {
    margin-top: 20px;
    text-align: center;
}
body {
    background-color: #DADDE2;
}
.fav {
    transition: transform 0.5s ease-in-out;
    transform: scale(1);
}
.fav:hover {
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    transform: scale(1.5);
}

.custom-checkbox-group {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-checkbox-group .form-check {
    margin-bottom: 10px;
}

.custom-checkbox-group .form-check-label {
    margin-left: 10px;
}

.form-check-input[type="checkbox"] {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
    scale: 1.4;
}

.form-check-input[type="checkbox"]:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
}

.form-check-input[type="checkbox"]:checked {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
}

.form-check-input[type="checkbox"]:checked:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
}

.custom-form-group {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-primary[type="submit"] {
    background-color: #0cbd2f;
    border-color: #0cbd2f;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.btn-primary[type="submit"]:hover {
    background-color: rgb(83, 86, 86);
    border-color: rgb(83, 86, 86);
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.custom-form-control {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-form-control:focus {
    border: 1px solid #0cbd2f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ip {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    background-color: #DADDE2;
    color: #DADDE2;
    display: inline-flex;
    font-family: "Blood", sans-serif;
    z-index: 1;
    border-radius: 15px;
    border: #DADDE2 5px solid;
}

.ip:hover {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
    background-color: #030303;
    color: #ab0000;
    border: #030303 5px solid;
}

#navbarNav ul li {
    text-align: center;
    margin: 10px;
    font-family: "Arial", sans-serif;
    text-shadow: 0 0 0 #000000;
    transition: text-shadow 0.5s ease-in-out;
    font-size: 1em;
    font-weight: bolder;
}

#navbarNav ul li:hover {
    transition: text-shadow 0.5s ease-in-out;
    text-shadow: 0 0 10px #ab61de;
}

.details {
    border: 1px solid #000;
    margin: 10px;
    border-radius: 15px;
    background-color: #B1BDC5;
    box-shadow: 0 0 1px rgb(125, 77, 199);
    transition: box-shadow 0.5s ease-in-out;
}

.details img {
    display: inline-flex;
    margin: 10px;
}

.details:hover {
    z-index: 1;
    box-shadow: 0 0 20px rgb(125, 77, 199);
    transition: box-shadow 0.5s ease-in-out;
}

.detail-titre h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.detail-description {
    margin: 10px;
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
}

.btn-danger {
    background-color: #ab0000;
    border-color: #ab0000;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    color: #ffffff;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.btn-danger:hover {
    background-color: #030303;
    border-color: #030303;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.btn-pas-bootstrap {
    border: 0;
    background: none;
}

.btn-pas-bootstrap:hover {
    text-decoration: none;
}

.btn-pas-bootstrap:focus {
    text-decoration: none;
}

code {
    background-color: #383838;
    padding: 10px;
    border-radius: 5px;
}

.dropdown-menu {
    border-radius: 10px;
    
    transition: 0.5s ease-in-out ;
}

.dropdown-toggle {
    border-radius: 5px;
}

.dropdown-toggle:focus {
    border: none;
    box-shadow: none;
}
