@model CodeEditor

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>@Model.Name</title>
</head>
<body>
<div>
    <img src="images/@Model.Id" alt="Image of the editor"/>
    <h1>@Model.Name</h1>
    <h3>Category: @Model.Category</h3>
    <p>@Model.Description</p>
</div>
</body>
</html>