@model CodeEditor

<!DOCTYPE html>

<html lang="en-US">
<head>
    <title>@Model.Name</title>
</head>
<body>
<main class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card 🤓">
                <div class="card-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-2">
                                <img 
                                    src="/images/@(Model.Id).svg" 
                                    class="img-fluid"
                                    alt="image de l'IDE"/>
                            </div>

                            <div class="col-10">
                                <h2>@Model.Name</h2>
                                <h4>Category: @Model.EditorCategory</h4>
                                <p>@Model.Description</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <img
                                src="/images/@(Model.Favorite ? "star-filled.png" : "star-clear.png")"
                                class="img-fluid fav"
                                alt="étoile favorie"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>