@model List<CodeEditor>

<div class="container-fluid">
    <main>
        <div class="row">
            <div class="col-12">
                <h1 class="titre">Éditeurs de code</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12" id="IDE">
                @{
                    foreach (var editor in Model) {
                        <div class="card carte">
                            <div class="card-body">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-2">
                                            <img 
                                                src="/images/@(editor.Id).svg" 
                                                class="img-fluid"
                                                alt="image de l'IDE"/>
                                        </div>
                                        
                                        <div class="col-10">
                                            <h2>@editor.Name</h2>
                                            <h4>Category: @editor.EditorCategory</h4>
                                            <p>@editor.Description</p>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <a href="/editors/addfavorite/@editor.Id">
                                            <img
                                                src="/images/@(editor.Favorite ? "star-filled.png" : "star-clear.png")" 
                                                class="img-fluid fav"
                                                alt="étoile favorie"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </main>
</div>