@model SearchResults
<main>
        <div class="row">
            <div class="col-6">
                <div class="d-flex">
                    <div class="custom-form-group">
                        @using (Html.BeginForm("Query", "Editors", FormMethod.Post)) {
                            <div class="row">
                                <div class="col">
                                    <label for="Keywords">Search</label>
                                    @Html.TextBoxFor(
                                        s => s.Criteria.Keywords, new
                                        {
                                            @class = "form-control me-2 custom-form-control",
                                            placeholder = "keywords",
                                            id = "Keywords"
                                        })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        @Html.CheckBoxFor(
                                            s => s.Criteria.IsTextEditor, new
                                            {
                                                @class = "form-check-input", 
                                                id = "isTextEditor", 
                                                value = "true"
                                            })
                                        <label class="form-check-label" for="isTextEditor">
                                            Text Editor
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(s => s.Criteria.IsIDE, new
                                        {
                                            @class = "form-check-input",
                                            id = "isIDE",
                                            value = "true"
                                        })
                                        <label class="form-check-label" for="isIDE">
                                            IDE
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        @Html.CheckBoxFor(s => s.Criteria.IsCommandLine, new
                                        {
                                            @class = "form-check-input",
                                            id = "isCommandLine",
                                            value = "true",
                                        })
                                        <label class="form-check-label" for="isCommandLine">
                                            Command Line
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h1 class="titre">Résultats</h1>
            </div>
        </div>
    </main>